<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
</head>
<body>
    <h1>Stage 4 Website Demo</h1>
    <div>
        <!-- <button><a href="page1.html">Recipes</a></button>
        <button><a href="page2.html">Food</a></button>
        <button><a href="page3.html">User</a></button>
        <button><a href="page4.html">Favorites</a></button>
        <button><a href="page5.html">MyRecipes</a></button> -->
    </div>
    <script>
        
    </script>
</body>
</html>
